{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">SHOP-in!</h1>
      <p>SHOP-in Pvt Ltd. is an Indian electronic commerce company based in lucknow(up), India. Founded by Ateefa Zainab and with team member in 2021, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.


</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.instagram.com/zaynakhan__/?r=nametag" role="button">Check instagram</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Team Member</h2>Done
        <p> Sanjay Kumar
        </p>
        <p><a class="btn btn-secondary" href="https://www.instagram.com/the__ace_27?r=nametag" role="button"> check instagram</a> »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Team Member</h2>
        <p>Sudhanshu mishra</p>
        <p><a class="btn btn-secondary" href="
          https://www.instagram.com/sudhanshu_mishra06?r=nametag" role="button">check instagram</a></p>
      </div>
      <div class="col-md-4">
        <h2>Team Member</h2>
        <p>Anam Shubhan</p>
        <p><a class="btn btn-secondary" href="https://www.instagram.com/khananam201001/" role="button"> check instagram </a></p>
      </div>
    </div>

  </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
